$primaryBackgroundColor: #F3976C;
$primaryBackgroundColorHover: #ff5100;
$primaryColor: #F3976C;
$primaryColorFont: #111;
$primaryColorHover: #ff5100;
$secondaryColor: #FFF;
$secondaryBackgroundColor: #FFF;